<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div style="text-align: center">
  <h1>
    welcome to {{title}}
  </h1>
  <img width="300" alt="angular-svg-7.png">
  <div class="container">
    <button (click)="Listar()" class="btn btn-info" > Listar</button>
    <button (click)="Novo()"   class="btn btn-info"  style="margin-left: 10px;">Novo</button>

  </div>
</div>

<router-outlet></router-outlet>

 